* {
    box-sizing: border-box;
}

html {
    background-color: rgb(34, 34, 34);
}

body {
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Roboto Mono', Monospace, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #eeeeee;
}

a {
    color: rgb(119, 166, 253);
    border: solid 1px transparent;
    text-decoration: none;
    transition: 0.2s;
}

a:hover, a:focus, a:active {
    color: rgb(188, 219, 255);
    text-decoration: underline;
}

h3 {
    margin: 25px auto auto auto;
}

/* code boxes (thanks amber :D) */
code { padding: 2px 4px; font-family: "Courier New", Courier, monospace; font-size: 15.6px; line-height: 1.1; color: #ce327b; background-color: rgba(0, 0, 0, 0.4); border-radius: 4px; white-space: nowrap }

/* colors */
.c_r { color: #FF6961 }
.c_y { color: #F1EA7F }
.c_g { color: #77DD77 }
.c_blurp { color: #7289DA; transition: .3s; }
.c_blurp:hover, .c_blurp:focus, .c_blurp:active { color: #9AAAE4; }
.c_steam { color: #2A475E; }
.c_steam:hover, .c_steam:focus, .c_steam:active { color: #3A6282; }

.c_rgb { color: #FF2B6B; animation: rainbow_cycle 3.5s infinite linear; transition: .3s; }
@keyframes rainbow_cycle {
    12.5% {
        color: #FF3737;
    }
    25% {
        color: #FF8800;
    }
    37.5% {
        color: #FFe605;
    }
    50% {
        color: #09FF09;
    }
    62.5% {
        color: #00b7FF;
    }
    75% {
        color: #1919FF;
    }
    87.5% {
        color: #911ECA;
    }
    100% {
        color: #ff2C9D;
    }
}

.c_semitrans { opacity: 0.5; }
.c_supertrans { opacity: 0.25; }

/* text modifiers */
.t_underline { text-decoration: underline; }
.t_bold { font-weight: bold; }
.t_italics { font-style: italic; }
.t_center { text-align: center; }